@page "/counter"
@inject IMatDialogService MatDialogService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MatButton OnClick="OpenDialogFromService" Raised="true">Test240912</MatButton>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    async Task OpenDialogFromService ()
    {
        await MatDialogService.OpenAsync(typeof(Test240912), null);

    }

}
